@import "variables";

.single-new-pro {
    .product-img {
        overflow: hidden;
        margin-bottom: 30px;

        img {
            width: 100%;
            transform: scale(1);
            transition: all ease-in-out 0.4s;
        }
    }

    .product-caption {
        h3 {
            a {
                color: #444444;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 12px;
                @media #{$sm}{
                    font-size: 17px;
                }
                @media #{$xs}{
                    font-size: 20px;
                }
            }
        }

        span {
            color: #ff2020;
            font-size: 18px;
            font-weight: 500;
            display: block;
        }


    }
}

.single-new-pro:hover .product-img img {
    transform: scale(1.04)
}

.section-tittle {
    h2 {
        color: #000;
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
        font-family: $font_1;
    }
}


/* teammembers */
.gallery-area {
    .single-gallery {
        position: relative;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            content: "";
            background-color: rgba(1, 10, 28, 0.3);
            opacity: 0;
            z-index: 1;
            transition: all 0.4s ease-in-out;
        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }

        .gallery-img {
            transform: scale(1.06);
            transition: all 0.4s ease-in-out;
        }

        // img
        .big-img {
            position: relative;
            height: 690px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .small-img {
            position: relative;
            height: 330px;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}


.single-gallery:hover .gallery-img {
    transform: scale(1);
}



