.owl-carousel {
    .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl-prev,
        .owl-next {
            width: 40px;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            border-radius: 50%;
            border: 1px solid #E4D3DF;
            background-color: #E4D3DF;
            transition: all 0.5s ease-in-out;

            &:hover {
                background-color: #828bb2;
                color: #fff;
            }

            &:focus {
                border: none;
                outline: none;
            }

        }

        .owl-prev {
            margin-left: 10px;
        }

        .owl-next {
            margin-right: 10px;
        }
    }
}
