.popular-items-category .popular-caption {
  text-align: center;
}

.popular-items-category .popular-caption a {
  color: #635c5c;
}

.single-popular-items {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

