/*------------------- Responsive --------------------------*/

/*-------------   Color variabel  --------------*/

.white-bg {
  background: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

/*-------------Color include--------------*/

/*-- Background color---*/

.gray-bg {
  background: #f7f7fd;
}

.white-bg {
  background: #ffffff;
}

.black-bg {
  background: #16161a;
}

.theme-bg {
  background: #ff2020;
}

.brand-bg {
  background: #f1f4fa;
}

.testimonial-bg {
  background: #f9fafc;
}

/*--- color------*/

.white-color {
  color: #ffffff;
}

.black-color {
  color: #16161a;
}

.theme-color {
  color: #ff2020;
}

/*Color Variables*/

.slider-height {
  min-height: 980px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-height {
    min-height: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-height {
    min-height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    min-height: 500px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-height {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .slider-height {
    min-height: 430px;
  }
}

.slider-height2 {
  background-image: url(/images/about_hero.png?ac6ecd820bd76d45c3b823a32280e2f2);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 575px) {
  .slider-height2 {
    min-height: 260px;
  }
}

.slider-area {
  overflow: hidden;
}

.slider-area .hero__img {
  position: relative;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .slider-area .hero__img {
    left: -104px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .hero__img img {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .hero__img img {
    height: 500px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__img img {
    height: 400px;
  }
}

.slider-area .hero__caption {
  overflow: hidden;
}

@media (max-width: 575px) {
  .slider-area .hero__caption {
    padding-top: 38px;
    padding-left: 22px;
  }
}

.slider-area .hero__caption h1 {
  text-transform: normal;
  font-size: 96px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 26px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .hero__caption h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .hero__caption h1 {
    font-size: 50px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__caption h1 {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .slider-area .hero__caption h1 {
    font-size: 33px;
    line-height: 1.2;
    margin-bottom: 26px;
  }
}

.slider-area .hero__caption p {
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 39px;
  color: #212025;
  margin-bottom: 60px;
  padding-right: 50px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .hero__caption p {
    padding-right: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .slider-area .hero__caption p {
    margin-bottom: 30px;
    padding-right: 0px;
    margin-bottom: 30px;
  }
}

.slider-area .hero-btn {
  border-radius: unset;
  border: none;
  padding: 15px 30px;
  border-color: #4a4a4b;
}

.slider-area .hero-btn:focus {
  box-shadow: none;
}

.slider-area .hero-btn:hover {
  color: #ffffff;
}

.slider-area .hero-cap h2 {
  font-size: 70px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 575px) {
  .slider-area .hero-cap h2 {
    font-size: 28px;
  }
}

.slide-bg {
  background: #f0f0f2;
}

.slider-active button.slick-arrow {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  background: none;
  border: 0;
  padding: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  background: #ff2020;
  transition: 0.4s;
}

.slider-active button.slick-arrow i {
  font-size: 20px;
  line-height: 60px;
}

.slider-active button.slick-next {
  left: auto;
  right: 80px;
}

.slider-active button.slick-arrow .secondary-img {
  right: 26px;
}

.slider-active button:hover img {
  opacity: 0;
}

.slider-active button:hover .secondary-img {
  opacity: 1;
}

.slider-active:hover button.slick-prev {
  left: 100px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-active:hover button.slick-prev {
    left: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-active:hover button.slick-prev {
    left: auto;
    right: 10px;
  }
}

.slider-active:hover button.slick-next {
  right: 100px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider-active:hover button.slick-next {
    right: 20px;
  }
}

.slider-active:hover button {
  opacity: 1;
  visibility: visible;
}

.slider-active button:hover {
  background: #002d5b;
}

.slider-active .secondary-img {
  position: absolute;
  opacity: 0;
}

